---
interface Props {
  shortname: string;
  url: string;
  identifier: string;
}

const { shortname, url, identifier } = Astro.props;
---

<div id="disqus_thread" class="mt-16 w-full max-w-4xl mx-auto px-6"></div>

<script is:inline define:vars={{ shortname, url, identifier }}>
  var disqus_config = function () {
    this.page.url = url;
    this.page.identifier = identifier;
  };
  (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://' + shortname + '.disqus.com/embed.js';
    s.setAttribute('data-timestamp', (+new Date()).toString());
    (d.head || d.body).appendChild(s);
  })();
</script>
